#textarea {
	height:150px;
	width: 99%;
	margin:0 auto;
	margin-bottom:4px;
	border:1px solid black;
}
#my-image {
	max-width: 100%;
	position:relative;
	z-index:1;
}
#my-canvas {
	max-width:100%;
	width:500px;
	position:absolute;
	z-index:2;
}
#my-canvas:hover {
	cursor:crosshair;
}
#my-image {
	/* Stop highlight on double-click */
  -webkit-tap-highlight-color:transparent;
  -moz-tap-highlight-color:transparent;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
.hotspot-input {
	display:none;
	margin:0 auto 0 auto;
	left:0;
	right:0;
	top:200px;
	position:absolute;
	z-index:99;
}
.hotspot-input input{
	height:35px;
	width:250px;
	border-radius:25px;
	-moz-border-radius:25px;
  -webkit-border-radius:25px;
	font-size:1.3em;
	box-shadow: 0 0 5px #333;
}
.hotspot-input input:focus {
	outline:none;
}