@-webkit-keyframes pulsate {
    from { box-shadow: 0 0 5px #E6E6E6; }
    to { box-shadow: 0 0 10px black; }
}
@-moz-keyframes pulsate {
    from { box-shadow: 0 0 5px #E6E6E6; }
    to { box-shadow: 0 0 10px black; }
}
@keyframes pulsate {
    from { box-shadow: 0 0 5px #E6E6E6; }
    to { box-shadow: 0 0 10px black; }
}

body {
	background-color:#F3F3F1;
}
.container {
	width:550px;
	margin:0 auto;
	background-color:white;
	padding:10px;
	border:1px solid #B3B3B3;
	text-align:center;
}
h1 {
	color:#545353;
	text-align:center;
	font-family:Georgia,sans-serif;
	letter-spacing:2px;
}
#textarea {
	height:150px;
	width:495px;
	margin:0 auto;
	margin-bottom:4px;
	border:1px solid black;
}
#my-image {
	position:relative;
	z-index:1;
}
#my-canvas {
	position:absolute;
	z-index:2;
}
#my-canvas:hover {
	cursor:crosshair;
}

/*
This is a bunch of weird vendor prefixed stuff
to stop image highlighting on double click
*/

#my-image {
  -webkit-tap-highlight-color:transparent;
  -moz-tap-highlight-color:transparent;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.hotspot-input {
	display:none;
	margin:0 auto 0 auto;
	left:0;
	right:0;
	top:200px;
	position:absolute;
	z-index:99;
}
.hotspot-input input{
	height:35px;
	width:250px;
	border-radius:25px;
	-moz-border-radius:25px;
  -webkit-border-radius:25px;
	font-size:1.3em;
	box-shadow: 0 0 5px #333;
	-webkit-animation: pulsate 0.5s infinite alternate;
	-moz-animation: pulsate 0.5s infinite alternate;
	-animation: pulsate 0.5s infinite alternate;
}
.hotspot-input input:focus {
	outline:none;
}