body {
	background-color:#F3F3F1;
}
.container {
	width:550px;
	margin:0 auto;
	background-color:white;
	padding:10px;
	border:1px solid #B3B3B3;
	text-align:center;
}
h1 {
	color:#545353;
	text-align:center;
	font-family:Georgia,sans-serif;
	letter-spacing:2px;
}
#textarea {
	height:150px;
	width:495px;
	margin:0 auto;
	margin-bottom:4px;
	border:1px solid black;
}
#my-image {
	position:relative;
	z-index:1;
}
#my-canvas {
	position:absolute;
	z-index:2;
}
#my-canvas:hover {
	cursor:crosshair;
}
/*
This is a bunch of weird vendor prefixed stuff
to stop image highlighting on double click
*/
#my-image {
  -webkit-tap-highlight-color:transparent;
  -moz-tap-highlight-color:transparent;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}



